<html>
  <head>

    <link href="/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/chessboard-0.3.0.min.css">
    <script src="/js/chessboard-0.3.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/json3/3.3.2/json3.min.js"></script>
    <script
       src="https://code.jquery.com/jquery-1.12.4.min.js"
       integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
       crossorigin="anonymous"></script>    
    

  </head>
  <body>
    
    <h1>Ghess</h1>
    
    <div id="board" style="width: 400px"></div>
    <form action="/play/" method="POST">
      <div>
	<input type="text" name="move">
	<input type="submit" value="Make Move">
      </div>  
    </form>
    <div>{{ .Feedback }}</div>
    <script>
      var pos = '{{ .Fen }}';
      var config = {
        //draggable: true,
        position: pos,
      };
      var board = ChessBoard('board', config);
      
  </script>    
  </body>  
</html>
