<html>
  <head>

    <link href="/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/chessboard-0.3.0.min.css">
    <script src="/js/chessboard-0.3.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/json3/3.3.2/json3.min.js"></script>
    <script
       src="https://code.jquery.com/jquery-1.12.4.min.js"
       integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
       crossorigin="anonymous"></script>    
  </head>
  <body>
    
      <h1>Ghess</h1>
      <a href="/new" >New Game</a>
    
    <div id="board" style="width: 400px"></div>

    <form id="form" >
      <div>
	<input type="text" id="message" name="message" autofocus>
	<input type="submit" value="Send Message" > <button type="button" onclick="orientation()" >Flip Board</button>
      </div>
    </form>
    <div id="output" ></div>
    <div id="feedback"></div>

    <script>

     // Websockets all things MDN
     // https://developer.mozilla.org
     // /en-US/docs/Web/API/WebSockets_API
     // /Writing_WebSocket_client_applications
     window.onload = function () {
	 var conn;
	 var move; // json to be
	 var moveExample = {
	     type: "move", // as opposed to message
	     origin: "e2", // or Source in chessboardjs
	     destination: "e4",
	     // Player?
	     // Time?, or // Date.now()
	 };
	 // Example: conn.send(JSON.stringify(moveExample));
	 var msg = document.getElementById("move");
	 var log = document.getElementById("output");



	 function appendLog(item) {
             var doScroll = log.scrollTop === log.scrollHeight - log.clientHeight;
             log.appendChild(item);
	     
             if (doScroll) {
		 log.scrollTop = log.scrollHeight - log.clientHeight;
             }
	 }

	 document.getElementById("form").onsubmit = function () {
             if (!conn) {
		 return false;
             }
             if (!msg.value) {
		 return false;
             }              
	     // Put this into something like
	     // onDragMove() = function() { conn.send(orig+" "+dest)}
	     // TODO Try sending this in JSON format
	     // Create another send for the Chat capability
             conn.send(msg.value); // Have this send the Origin and Destination
             msg.value = "";
             return false;
	 };

	 if (window["WebSocket"]) { // Check if websocket is supported?
	     // Create a websocket connection with proper route
             conn = new WebSocket("ws://0.0.0.0:8080/ws");
	     // Define websocket closing function
             conn.onclose = function (evt) { // or, event
		 var item = document.createElement("div");
		 item.innerHTML = "<b>Connection closed.</b>";
		 appendLog(item);
             };
	     // conn.onopen = function(event){} is not defined
	     // Define websocket Listening
	     // This is incoming/receiving data
	     // This out to be a board position and error message
	     // Serialized in JSON
             conn.onmessage = function (evt) {
		 var message = JSON.parse(evt.data);
		 var errors = document.getElementById("feedback"); 
		 switch(message.Type) {
		     case "move":
			 board.position(message.Position);
			 console.log(message.Error);
			 errors.innerText = message.Error;
			 break;
		     case "message":
			 break;
		 }
		 // Scroll to bottom of 'chatbox' or error messages
             };
	 } else {
             var item = document.createElement("div");
             item.innerHTML = "<b>Your browser does not support WebSockets.</b>";
             appendLog(item);
	 }
	 // check out example for onDragMove() for ParseStand()
	 // http://chessboardjs.com/examples#4003
	 var parseStand = function(source, target, piece, newPos, oldPos, orientation) {
	     console.log("Origin: " + source);
	     console.log("Destination: " + target);
	     console.log("--------------------");
	     var standMove = {
		 type: "move", // as opposed to message
		 origin: source, // or Source in chessboardjs
		 destination: target,
		 // Player?
		 // Time?, or // Date.now()
	     };	     
	     conn.send(JSON.stringify(standMove)) // TODO
	 };
	 
	 var pos = '{{ .Fen }}';
	 var config = {
	     draggable: true,
             position: pos,
	     onDrop: parseStand,
	 };
	 var board = ChessBoard('board', config);
	 
	 function orientation(){
             board.flip();
	 }
     };     

     
     
  </script>    
  </body>  
</html>
