<html>
  <head>

    <link href="/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/chessboard-0.3.0.min.css">
    <script src="/js/chessboard-0.3.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/json3/3.3.2/json3.min.js"></script>
    <script
       src="https://code.jquery.com/jquery-1.12.4.min.js"
       integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
       crossorigin="anonymous"></script>    
  </head>
  <body>
    
      <h1>Ghess</h1>
      <a href="/new" >New Game</a>|<a href="/" >Index</a>

      <table>
	  <tr>
	      <td>
		  <div id="board" style="width: 400px"></div>
	      </td>
	      <td>
		  <div id="output" ></div>
		  <form id="form" >
		      <div>
			  <input type="text" id="message" name="message" autofocus>
			  <input type="submit" value="Send Message" > <button type="button" onclick="orientation()" id="flip">Flip Board</button>
		      </div>
		  </form>
		  <div id="feedback"></div>
	      </td>
	  </tr>
      </table>


    <script>

     // Websockets all things MDN
     // https://developer.mozilla.org
     // /en-US/docs/Web/API/WebSockets_API
     // /Writing_WebSocket_client_applications
     window.onload = function () {
	 var conn;
	 var move; // json to be
	 var moveExample = {
	     type: "move", // as opposed to message
	     origin: "e2", // or Source in chessboardjs
	     destination: "e4",
	     // Player?
	     // Time?, or // Date.now()
	 };
	 // Example: conn.send(JSON.stringify(moveExample));
	 var log = document.getElementById("output");
	 var msg = document.getElementById("message");
	 
	 function appendLog(item) {
             var doScroll = log.scrollTop === log.scrollHeight - log.clientHeight;
             log.appendChild(item);
	     
             if (doScroll) {
		 log.scrollTop = log.scrollHeight - log.clientHeight;
             }
	 }

	 document.getElementById("form").onsubmit = function () {
             if (!conn) {
		 return false;
             }
             if (!msg.value) {
		 return false;
             }              
	     // Put this into something like
	     // onDragMove() = function() { conn.send(orig+" "+dest)}
	     // TODO Try sending this in JSON format
	     // Create another send for the Chat capability

	     var sendMessage = {
		 type: "message", // as opposed to message
		 message: msg.value,
	     };	     
             conn.send(JSON.stringify(sendMessage));
             msg.value = "";
             return false;
	 };

	 if (window["WebSocket"]) { // Check if websocket is supported?
	     // Create a websocket connection with proper route
	     // 0.0.0.0 won't work accross internal ntwork 10.232.44.100
             conn = new WebSocket("ws://0.0.0.0:8080/ws");
	     // Define websocket closing function
             conn.onclose = function (evt) { // or, event
		 var item = document.createElement("div");
		 item.innerHTML = "<b>Connection closed.</b>";
		 appendLog(item);		 
             };
	     // On new connection
	     conn.onopen = function(evt) {
		 var sendMessage = {
		     type: "connection", // as opposed to message
		     message: "New connection.",
		 };	     
		 conn.send(JSON.stringify(sendMessage));
	     };
             conn.onmessage = function (evt) {
		 var message = JSON.parse(evt.data);
		 var errors = document.getElementById("feedback");
		 var chat = document.createElement("div");
		 switch(message.Type) {
		     case "move":
			 board.position(message.Position);
			 console.log(message.Error);
			 errors.innerText = message.Error;
			 if(message.Error == "") {
			     errors.style.visibility="hidden";
			 } else {
			     errors.style.visibility="visible";
			 }
			 break;
		     case "message":
			 chat.innerText = message.Message;
			 appendLog(chat);
			 break;
		     case "connection": // otherwise code injection?
			 chat.innerText = message.Message;
			 chat.style.fontWeight = "bold";
			 appendLog(chat);
			 break;
		 }
		 // Scroll to bottom of 'chatbox' or error messages
             };
	 } else {
             var item = document.createElement("div");
             item.innerHTML = "<b>Your browser does not support WebSockets.</b>";
             appendLog(item);
	 }
	 // check out example for onDragMove() for ParseStand()
	 // http://chessboardjs.com/examples#4003
	 // This onDrop function has other param which I don't use
	 var parseStand = function(source, target) {
	     var standMove = {
		 type: "move", // as opposed to message
		 origin: source, // or Source in chessboardjs
		 destination: target,
		 // Player?
		 // Time?, or // Date.now()
	     };
	     conn.send(JSON.stringify(standMove)) 
	 };
	 
	 var pos = {{ . }}
	 //'rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1';
	 var config = {
	     draggable: true,
             position: pos,
	     onDrop: parseStand,
	 };
	 var board = ChessBoard('board', config);

	 document.getElementById("flip").addEventListener("click", function(){
             board.flip();
	 });
     };     

     
     
  </script>    
  </body>  
</html>
