@import 'https://fonts.googleapis.com/css?family=Inconsolata|Merriweather';
/* Base Style  */
body {

    font-family: "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    color: #566b78;
    font-family: 'Inconsolata', monospace;
    padding: 2em 1em;
    margin: 0 auto;
    max-width: 60em;
}

.content {
    padding: 2em 1em;
    margin: 0 auto;
    max-width: 50em;
}

/*  Table and Content */
.content table {
    width: 100%;
}
.content th {
    text-align:left;
}

.panel {
    margin-right:15px;
    position:fixed;
}

a {
    color: #389c6e;
    text-decoration:none;
}

ul {
    list-style-type: none;
}


h2 {
    margin-top: 1em;
    padding-top: 1em;

}


h1,
h2,
strong {
    font-family: 'Merriweather', serif;    
    color: #333;
}



/* code */

code, pre {
    background: #eee;
    padding: 1em;
}

/* Buttons  */
.btn {

    padding: 10px 24px;
}

.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn span:after {
  content: '>';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn:hover span {
  padding-right: 25px;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}


#feedback {
    border-left: 6px solid #577A3A;
    background-color: #BCED91;
    padding: 0.5em 16px;
    visibility: hidden;
    width: 370px;
}

#output {
    height: 315px;
    width: 400px;
    overflow: auto;
}